* {
    margin: 0%;
    font-family: sans-serif;
}

.banner {
    padding: 250px 100px 100px 100px;
    text-align: center;
    background-image: url('../images/donation13.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 130px;
}

.banner-title {
    font-size: 65px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner-description {
    font-size: 23px;
    font-weight: 400;
    color: #ffffff;
    margin: 0 150px;
    margin-bottom: 30px;
}

.btn-primary {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    background-color: crimson;
    border-radius: 5px;
    border: 0;
    height: auto;
    width: auto;
    width: max-content;
    padding: 15px;
    margin-top: 20px;

}

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* donate today section styles */

.donate-today {
    margin: 130px;
}

.donate-today-title {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
    color: darkslategrey;
    text-align: center;
}

.donate-today-description {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;

}

.donate-amount {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}

.donation {
    font-size: 25px;
    font-weight: 600;
    border-radius: 5px;
    background-color: lightgray;
    height: auto;
    width: auto;
    text-align: center;
    padding: 50px;
}

.donation1 {
    font-size: 25px;
    font-weight: 600;
    border: 2px solid maroon;
    border-radius: 5px;
    background-color: lightpink;
    height: auto;
    width: auto;
    text-align: center;
    padding: 50px;
}

.base-description {
    text-align: center;
    font-size: 16px;
    color: darkslategrey;
    margin-bottom: 10px;
}

.donate-button {
    text-align: center;
}

.donate-plan {
    margin-bottom: 130px;
}

.donate-plan-content {
    text-align: center;
    padding: 30px;
}

.donate-plan-title {
    font-size: 50px;
    font-weight: 600;
    color: darkslategrey;
    padding-bottom: 20px;
}

.donate-plan-description {
    font-size: 20px;
    padding-bottom: 30px;
}

.donate-plan-container {
    display: flex;
    gap: 25px;

}

.plan1 {

    border: 2px;
    border-radius: 3px;
    background-color: rgb(207, 233, 241);
    padding: 60px 30px;
}

.plan2 {

    border: 2px;
    border-radius: 3px;
    background-color: rgb(248, 216, 221);
    padding: 60px 30px;
}

.plan3 {

    border: 2px;
    border-radius: 3px;
    background-color: rgb(248, 248, 195);
    padding: 60px 30px;
}

.plan-title {
    font-size: 25px;
    font-weight: 700;
    padding: 20px 0 20px 0;
}

.plan-description {
    font-size: 16px;
    padding-bottom: 20px;
}

/* donation-scenario styles */

.donation-scenario {
    margin-bottom: 130px;

}

.donation-scenario-container {
    display: flex;
    align-items: center;
    gap: 100px;

}

.donation-scenario-container img {
    width: 500px;
    height: 500px;
}

.donation-scenario-title {
    font-size: 45px;
    font-weight: 700;
    color: darkslategrey;
    margin-right: 100px;
    margin-bottom: 40px;
}

.donation-scenario-description {
    font-size: 16px;
    padding-bottom: 20px;
}

.contribute-button {
    margin-top: -120px;
}

.survive {
    margin-bottom: 130px;
}

.survive-scenario-container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.survive-scenario-title {
    font-size: 45px;
    font-weight: 700;
    color: darkslategrey;
    margin-right: 100px;
    margin-bottom: 40px;
}

.survive-scenario-description {
    font-size: 16px;
    padding-bottom: 20px;
}

.survive-scenario-container img {
    width: 500px;
    height: 500px;
}

.survive-contribute-button {
    margin: -120px 0 0 605px;
}

.btn-secondary {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    background-color: crimson;
    border-radius: 5px;
    border: 0;
    height: auto;
    width: auto;
    width: max-content;
    padding: 15px;
    margin-top: 20px;
}

/* update section styles */

.update {
    margin: 200px;
    align-items: center;
}

.update-content {
    text-align: center;
}

.update-title {
    font-size: 45px;
    font-weight: 700;
    color: darkslategrey;
    margin-bottom: 30px;
}

.update-description {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
    color: rgb(59, 55, 55);
}

.subscribe-container {
    text-align: center;
    margin-top: 50px;
    background-color: burlywood;
    padding: 100px;

}

.subscribe-container input[type="email"] {
    border: 0;
    padding: 15px;
    width: 350px;
    height: 20px;
    font-weight: 500;
    font-size: 16px;
    color: darkslategrey;
    border-radius: 5px;
}

.subscribe-btn {
    border: 0;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    padding: 15px;
    height: 50px;
    width: 150px;
    background-color: crimson;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: rgb(18, 18, 48);
    height: 120px;
    padding-bottom: 30px;
}

.footer-title {
    padding-top: 30px;
    font-size: 40px;
    font-weight: 700;
    font-family: "Concert One", sans-serif;
    font-weight: 800;
    color: crimson;
}

.footer-description {
    font-size: 18px;
    margin-top: 20px;
    color: #ffffff;
}

/* Responsive Layout */

@media screen and (max-width: 576px) {
    .donate-plan-container {
        flex-direction: column;
        padding: 0 20px 0 20px;
    }

    .donate-plan-title {
        font-size: 30px;
    }

    .donate-plan-description {
        font-size: 16px;
    }

    .donate-today {
        margin: 0;
        padding: 20px;
    }

    .donate-today-title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .donate-today-description {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .donate-amount {
        gap: 5px;
        padding: 0 30px 30px 30px;
    }

    .donation {
        font-size: 16px;
        padding: 10px;
    }

    .donation1 {
        font-size: 16px;
        padding: 10px;
    }

    .survive-scenario-container {
        flex-direction: column;
        gap: 30px;
    }

    .survive-scenario-container img {
        width: 100%;
    }

    .survive-contribute-button {
        margin: 0 0 0 10px;
    }

    .survive-scenario-title {
        margin-bottom: 0;
        font-size: 30px;
        margin-right: 0;
        padding: 0 10px 20px 10px;
    }

    .survive-scenario-description {
        padding: 0 10px 0 10px;
    }

    .donation-scenario-container {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .donation-scenario-container img {
        width: 100%;
    }

    .contribute-button {
        margin: 0 0 0 10px;
    }

    .donation-scenario-title {
        margin-bottom: 0;
        font-size: 30px;
        margin-right: 0;
        padding: 0 10px 20px 10px;
    }

    .donation-scenario-description {
        padding: 0 10px 0 10px;

    }

    .update {
        margin: 0;
    }

    .update-title {
        font-size: 30px;
    }

    .subscribe-container {
        margin: 20px;
        padding: 20px;
    }

    .subscribe-container input[type="email"] {
        width: 250px;
        height: 15px;
    }

    .subscribe-btn {
        border: 0;
        margin-top: 10px;
        font-size: 15px;
        font-weight: 500;
        color: #ffffff;
        padding: 10px;
        height: 40px;
        width: 100px;
        background-color: crimson;
        border-radius: 5px;
    }

    footer {
        height: 70px;
        padding-bottom: 50px;
    }
    .footer-title{
        font-size: 30px;
    }
    .banner{
        padding: 120px 20px 30px 20px;
        margin-bottom: 60px;
    }
    .banner-title{
        font-size: 30px;
    }
    .banner-description{
        margin: 0;
        margin-bottom: 0;
        font-size: 16px;
    }

}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .donate-plan-container {
        flex-direction: column;
        padding: 0 70px 0 70px;
    }

    .donate-today {
        margin: 0;
        padding: 50px;
    }

    .donate-amount {
        gap: 20px;
        padding: 0 50px 30px 50px;
    }

    .donation {
        font-size: 25px;
        padding: 25px;
    }

    .donation1 {
        font-size: 25px;
        padding: 25px;
    }

    .donation-scenario-container {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .donation-scenario-container img {
        width: 100%;
    }

    .contribute-button {
        margin: 0 0 0 10px;
    }

    .donation-scenario-title {
        margin-right: 0;
        padding: 0 10px 20px 10px;
    }

    .donation-scenario-description {
        padding: 0 10px 0 10px;

    }

    .survive-scenario-container {
        flex-direction: column;
        gap: 30px;
    }

    .survive-scenario-container img {
        width: 100%;
    }

    .survive-contribute-button {
        margin: 0 0 0 10px;
    }

    .survive-scenario-title {
        margin-right: 0;
        padding-left: 10px;
    }

    .survive-scenario-description {
        padding-left: 10px;
    }

    .update {
        margin: 100px 50px 100px 50px;

    }

    .subscribe-btn {
        margin-top: 10px;
    }
    .banner{
        padding: 150px 30px 40px 30px;
        margin-bottom: 60px;
    }
    .banner-title{
        font-size: 40px;
    }
    .banner-description{
        margin: 0;
        margin-bottom: 0;
        font-size: 16px;
    }
}